.details-container {
  .tv-info,
  .computer-info,
  .cellphone-info,
  .accessory-info {
    width: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;

    .col {
      width: 250px;

      span {
        font-size: 1rem;

        #not-specified {
          color: rgba(136, 121, 123, 0.89);
          font-size: 0.8rem;
        }
      }
    }

    .description {
      p {
        margin-left: 30px;
      }
    }
  }

  .cellphone-info {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 0 40px;

    @media (max-width: 1350px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 900px) {
      grid-template-columns: 1fr;
    }

    .picture-info {
      margin-left: 30px;
      margin-bottom: 15px;

      #picture-type {
        font-size: small;
        text-transform: capitalize;
      }
    }

    .details-wrapper {
      display: flex;
      align-items: center;
      margin-top: 15px;

      .details {
        margin-left: 10px;

        .detail {
          span {
            font-size: small;
          }
        }
      }
    }
  }
}

.product-gallery-container {
  height: 80vh;

  .gallery-wrapper {
    overflow-y: scroll;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    justify-items: center;
    align-items: start;
    padding: 5px 10px;
    gap: 2em;
    margin-top: 30px;

    /* width */
    &::-webkit-scrollbar {
      width: 2px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px rgb(199, 199, 199);
      border-radius: 10px;
      background-color: rgb(182, 182, 182);
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: rgb(100, 99, 99);
      border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: rgb(250, 250, 250);
    }

    .image-wrapper {
      max-width: 250px;
      height: auto;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.405);

      #img {
        width: 100%;
        height: auto;
        max-height: 300px;
        object-fit: cover;
        border-radius: 10px;
      }
    }
  }
}

.product-sizes-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2em;
  justify-items: center;
  padding: 30px 0;

  .product-size-wrapper {
    display: flex;
    align-items: center;

    .product-size {
      width: 80px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      #icon {
        font-size: 4rem;
      }

      #icon-size {
        position: absolute;
        font-size: 1.5rem;
      }
    }

    .size-info {
      margin-left: 20px;
    }
  }
}

.product-colors-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2em;
  justify-items: center;
  padding: 30px 0;

  .product-color-wrapper {
    display: flex;
    align-items: center;

    .product-color {
      margin: 10px;
      width: 80px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      #display-color {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        // box-shadow: 0 0 16px rgba(255, 255, 255, 0.301);
      }
    }

    .color-info {
      padding-right: 10px;

      h4 {
        &:not(:first-child) {
          margin-top: 5px;
        }
      }
    }
  }
}

.product-reviews {
  width: 100%;
  min-height: 50vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-items: center;
  gap: 2em;
  margin-top: 20px;

  .spinner {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #no-reviews {
    font-size: large;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    color: red;
    letter-spacing: 3px;
    transform: translate(-50%, -50%);
  }
}
