.gallery {
  top: 30%;
  height: 700px;
}

.gallery-wrapper {
  display: flex;

  .main-image,
  .cellphone-image-wrapper {
    margin: 0 10px;
    width: 40%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

    .image-wrapper {
      max-width: 500px;
      height: auto;
      border-radius: 15px;
      box-shadow: 0 0 15px black;
      position: relative;

      #main-img {
        width: 100%;
        max-height: 550px;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.192);
      }

      .icons-bg {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.664);
        width: 100%;
        height: 100%;
        transition: all 0.2s ease-in-out;
        border-radius: 15px;

        .icons {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: all 0.2s ease-in-out;
        }
      }
    }
  }

  .cellphone-image-wrapper {
    .image-wrapper {
      max-width: 600px;
      width: auto;
      height: 550px;

      .icons-bg {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.664);
        width: 100%;
        height: 100%;
        transition: all 0.2s ease-in-out;
        border-radius: 15px;

        .icons {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: all 0.2s ease-in-out;
        }
      }
    }
  }

  .other-images,
  .cellphone-other-images {
    flex: 1;
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: start;
    gap: 20px 0;
    padding: 20px 0;
    height: 640px;
    overflow-y: scroll;

    /* width */
    &::-webkit-scrollbar {
      width: 2px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px rgb(199, 199, 199);
      border-radius: 10px;
      background-color: rgb(182, 182, 182);
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: rgb(100, 99, 99);
      border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: rgb(250, 250, 250);
    }

    .add-wrapper {
      width: 172px;
      height: 102px;
      display: flex;
      justify-content: center;
      align-items: center;

      .add {
        width: 160px;
        height: 90px;
        border-radius: 15px;
        border: 3px dashed;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:active {
          transform: scale(0.95);
          #add-icon {
            transition: all 0.2s ease-in-out;
            font-size: 3rem;
          }
        }
      }
    }

    .other-image-wrapper,
    .other-image-wrapper-active {
      width: 172px;
      height: 102px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.192);
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      .other-image {
        width: 170px;
        height: 100px;
        border-radius: 15px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.192);
        transition: all 0.2s ease-in-out;

        #img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 15px;
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.192);
          transition: all 0.2s ease-in-out;
        }
      }

      &:hover {
        border: 1px solid;

        .other-image {
          #img {
            filter: brightness(50%);
          }
        }
      }
    }

    .other-image-wrapper-active {
      border: 1px solid;

      .other-image {
        #img {
          filter: brightness(50%);
        }
      }
    }
  }

  .cellphone-other-images {
    .add-wrapper {
      width: 182px;
      height: 242px;

      .add {
        width: 160px;
        height: 220px;
      }
    }

    .other-image-wrapper,
    .other-image-wrapper-active {
      width: 182px;
      height: 242px;

      .other-image {
        width: 180px;
        height: 240px;
      }
    }
  }
}
